name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
    build-all-clis:
        name: Build Only (No Release)
        runs-on: [ubuntu-latest]
        steps:
        - uses: actions/checkout@v5
        
        - name: Set up Go
          uses: actions/setup-go@v6
          with:
            go-version-file: 'go.mod'
        
        - name: Storage-CLI Build for Linux
          env:
            GOOS: linux
            GOARCH: amd64
            CGO_ENABLED: 0
          run: |
                echo "Building Storage CLI for Linux"
                go build -o "storage-cli-linux-amd64"
                sha1sum "storage-cli-linux-amd64"
        
        - name: Storage-CLI Build for Windows
          env:
            GOOS: windows
            GOARCH: amd64
            CGO_ENABLED: 0
          run: |
                echo "Building Storage CLI for Windows"
                go build -o "storage-cli-windows-amd64.exe"
                sha1sum "storage-cli-windows-amd64.exe"